#Min{
    border: thin solid #DDDDDD;
    border-collapse: collapse;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6vw;
    left: 91vw; 
    overflow: scroll;
    position: absolute;
    top: 92vh;  
    z-index: 2;
    padding: 0vw !important;
}

#Min td, #Min caption  {
    padding: 0vw !important;
    width: 4vw;
    height: 1.5vh; 
}
#Min th {
    padding: 0vw !important;
    width: 4vw;
    height: 3vh;   
}

#Min .tr1:nth-child(even), #Min .input1:nth-child(even){
    background-color: #F2F2F2;
}

#Min .tr1:hover, #Min .input1:hover{
    background-color: #DDDDDD;
}

#Min .tr2:nth-child(even), #Min .input2:nth-child(even){
    background-color: #FFFFFF;
}

#Min .tr2:hover, #Min .input2:hover{
    background-color: #DDDDDD;
}

#Min th,caption  {
    text-align: center;
    background-color: #782327;
    color: white;
    font-weight: bold;
}

.input2{ 
    background-color: #FFFFFF;
    border: none;
    text-align: right;
    width: 4vw;
    height: 1.5vh;  
    text-align: left;
    padding: 0vw !important;
    margin: 0vw;
}

.TagA{  
    color: #00cc00;    
    font-weight: bold;
}

.TagB{  
    color: #339966; 
    font-weight: bold;
}

.TagC{  
    color: #E14E73; 
    font-weight: bold;
}

.TagD{ 
    color: #FFCC00; 
    font-weight: bold;

}

.TagE{ 
    color: #5C0099;
    font-weight: bold; 
}

.TagF{  
    color: #991F00;    
    font-weight: bold;
}

.TagG{  
    color: #66CCFF;  
    font-weight: bold;
}

.TagH{  
    color: #004080;  
    font-weight: bold;
}