#table6 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  overflow: scroll;
  left: 25vw; 
  width: 50vw;
  overflow: scroll;
  position: absolute;
  top: 63vh;
}

#table6 td, #table6 th, #table6 caption  {
  border: 1px solid #ddd;
  padding: 2px;
}

#table6 tr:nth-child(even){
  background-color: #f2f2f2;
}

#table6 tr:hover {
  background-color: #ddd;
}

#table6 th,caption  {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #782327;
  color: white;
  font-weight: bold;
}

.input1{ 
  background-color: #F2F2F2;
  border: none;
  text-align: right;
  width: 10vw;
  height: 3vh;  
}

.input2{ 
  background-color: #FFFFFF;
  border: none;
  text-align: right;
  width: 10vw;
  height: 3vh;  
}