#table2{
    border: thin solid #DDDDDD;
    border-collapse: collapse;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7vw;
    left: 2vw; 
    overflow: scroll;
    position: absolute;
    top: 15vh;  
}

#table2 td, #table2 caption  {
    border: thin solid #DDDDDD;
    padding: 0.2vw;
    /*width: 2vw;*/
    height: 3vh;   
}

#table2 .teste  {
    font-style: italic;
    text-align: right;
}

#table2 th {
    border: thin solid #DDDDDD;
    padding: 0.2vw;
    width: 10vw;
    height: 3vh;   
}

#table2 .tr1:nth-child(even), #table2 .input1:nth-child(even){
    background-color: #F2F2F2;
}

#table2 .tr1:hover, #table2 .input1:hover{
    background-color: #DDDDDD;
}

#table2 .tr2:nth-child(even), #table2 .input2:nth-child(even){
    background-color: #FFFFFF;
}

#table2 .tr2:hover, #table2 .input2:hover{
    background-color: #DDDDDD;
}

#table2 th,caption  {
    text-align: center;
    background-color: #782327;
    color: white;
    font-weight: bold;
}

.input1{ 
    background-color: #F2F2F2;
    border: none;
    text-align: right;
    width: 8vw !important;
    height: 3vh;  
}

.input2{ 
    background-color: #FFFFFF;
    border: none;
    text-align: right;
    width: 8vw !important;
    height: 3vh;  
}