#SimulacaoDeIndicadores{
    color: #782327;
    font-size: 1.8vw;
    left: 40vw;
    position:absolute;
    top: 3vh;  
    z-index: 2;
}

#SalaDeControle{
    color: #BFBFBF;
    font-size: 1.5vw;
    left: 42vw;
    position:absolute;
    top: 8vh;  
    z-index: 2;
}

#Pagina{
    color: #782327;
    font-size: 1vw;
    left: 88vw;
    position:absolute;
    top: 97vh;  
    z-index: 1;
}

#LinkPagina1{
    color: #782327;
    font-size: 1vw;
    left: 93vw;
    position:absolute;
    top: 97vh;  
    z-index: 1;
}

#LinkPagina2{
    color: #782327;
    font-size: 1vw;
    left: 95vw;
    position:absolute;
    top: 97vh;  
    z-index: 1;
}